@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Store</h1>
    <p class="lead">Welcome to the Pet Store. Here, you will find a wide variety of animals waiting to join your family.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Inventory</h2>
        <p>
        This will show you the list of animals we currently have as well as the animals basic information.
        </p>
 
    </div>
    
    <div class="col-md-4">
        <h2>Manage</h2>
        <p>Here, you'll be able to create, edit, or delete Animals that have been listed.</p>
    </div>
</div>